<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<!-- if not intend to be cached by browser -->
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">  
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">  
    <META HTTP-EQUIV="expires" CONTENT="0">
<!-- -->

   <!--link rel="StyleSheet"  href="<%#=g_static_path_prefix%>/stylesheets/styles.css" type="text/css" /-->

</head>
<style>
	body {
		background:#888888 url(/images/);
		color:555555;
		font-family: verdana, arial, helvetica, sans-serif;
	  
	}
	.round_border{
		border-radius: 3px;  
		-moz-border-radius: 3px;  
		-webkit-border-radius: 3px;
	}

	.round_border_m{
		border-radius: 5px;  
		-moz-border-radius: 5px;  
		-webkit-border-radius: 5px;
	}

	.round_border_b{
		border-radius: 10px;  
		-moz-border-radius: 10px;  
		-webkit-border-radius: 10px;
	}
	.metro{
		width:100%;
		margin:5px;
	}
</style>
<body >

<center>
	<div id="main">
<div style="font-size:68pt;text-align:left;">
	Easy Search
</div>                                                              
<div id="invoice"class="metro" style="background:#5599bb;height:300px;text-align:center;">
	Invoice                                              
</div>                                                   
<div id="invoice"class="metro" style="background:#5599bb;height:300px;text-align:center;">
	Order                                                
</div>                                                   
<div id="invoice"class="metro" style="background:#5599bb;height:300px;text-align:center;">
	Product                                              
</div>                                                   
<div id="invoice"class="metro" style="background:#5599bb;height:300px;text-align:center;">
	Customer
</div>
	<div id="main">
</center>
</body>

</html>
