<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<!-- if not intend to be cached by browser -->
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">  
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">  
    <META HTTP-EQUIV="expires" CONTENT="0">
<!-- -->

   <link rel="StyleSheet"  href="<%#=g_static_path_prefix%>/stylesheets/styles.css" type="text/css" />

</head>
<style>

</style>
<body >

<center>
	<div id="main">
		<div style="font-size:48pt;text-align:left;color:grey;margin:10px;">
			Easy Search
		</div>                                                              
		<div id="invoice"class="metro" style="background:orange;text-align:center;">
			Invoice                                              
		</div>                                                   
		<div id="invoice"class="metro" style="background:#5599bb;text-align:center;">
			Order                                                
		</div>                                                   
		<div id="invoice"class="metro" style="background:green;text-align:center;">
			Product                                              
		</div>                                                   
		<div id="invoice"class="metro" style="background:yellow;text-align:center;">
			Customer
		</div>
	</div>
</center>

</body>

</html>
